[submodule "build"]
	path = build
	url = ssh://git@stash.selectel.org/fe/shared-builder.git

[submodule "vendor/shared-vendor"]
	path = vendor/shared-vendor
	url = ssh://git@stash.selectel.org/fe/shared-vendor.git

[submodule "src/shared-ui-kit"]
	path = src/shared-ui-kit
	url = ssh://git@stash.selectel.org/fe/shared-ui-kit.git